@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
::root {
  font-size: 16px;
}
::selection {
  background-color: palegreen;
  color: #0b1f0b;
}
::-webkit-scrollbar {
  background-color: #0f0f0f;
  display: none;
}
body {
  background-color: #0f0f0f;
  color: #f2f2f2;
}

.clear {
  clear: both;
}
.container {
  width: 50%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
}
.login {
  width: 100%;
  max-width: 330px;
  background-color: #212121;
  border-radius: 5px;
  padding: 20px;
}
.login > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login__input {
  border: none;
  padding: 15px;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: #121212;
  color: #f2f2f2;
  outline: none;
  border-radius: 5px;
}
.login__input:focus {
  outline: 2px solid #f2f2f2;
}
.login__button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: #ddd;
  cursor: pointer;
  color: #121212;
  transition: background-color 0.2s ease-out;
}
.login__button:hover {
  background-color: #fff;
}
.title {
  padding: 20px;
  border-bottom: 1px solid #616161;
  background-color: #0f0f0f;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 50%;
}
.brand {
  color: #f2f2f2;
  font-size: 2rem;
  text-transform: capitalize;
}
.chat {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.chat__messages {
  flex-grow: 1;
  padding: 30px 30px 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.chat__form {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 50%;
  border-top: 1px solid #616161;
  background-color: #0f0f0f;
}
.chat__input {
  border: none;
  height: 5.8vh;
  padding: 12px;
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  background-color: #fff;
  border-radius: 15px 0px 0px 15px;
  border-right: none;
  color: #0f0f0f;
  font-size: 1.2rem;
}
.chat__button {
  border: none;
  background: palegreen;
  color: #0b1f0b;
  cursor: pointer;
  width: 5vw;
  height: 5.8vh;
  border-radius: 0px 15px 15px 0px;
}
.chat__button > span {
  font-size: 2.2rem;
}
.chat__messages div {
  padding: 10px 20px;
  max-width: 250px;
  word-wrap: break-word;
  word-break: break-word; /* Altera para break-word */
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 15px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word; /* Adiciona overflow-wrap */
}
.emoji-picker {
  display: none; /* Inicialmente escondido */
  position: absolute;
  bottom: 60px; /* Ajuste conforme necessário */
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  z-index: 1000;
  border-radius: 4px;
}
.message--self {
  color: #121212;
  background-color: #f2f2f2;
  border-radius: 10px 10px 0px 10px;
  align-self: flex-end;
}
.message--other {
  color: #f2f2f2;
  background-color: #212121;
  border-radius: 0px 10px 10px 10px;
  align-self: flex-start;
}
.message--sender {
  display: block;
  margin-left: -10px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 1rem;
}
.chat__emoji-button {
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
}
.chat__emoji-button span {
  font-size: 2rem;
}
.chat__emoji-picker {
  display: none;
  position: absolute;
  bottom: 90px; /* Ajuste conforme necessário */
  width: 60%;
  height: 250px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1000;
  border-radius: 4px;
  overflow-x: auto;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content;
}
.chat__emoji-picker::-webkit-scrollbar {
  background: none;
}

.chat__emoji-picker .emoji {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.chat__emoji-picker .emoji:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .title {
    width: 100%;
  }
  .chat__form {
    width: 100%;
  }
  .chat__input {
    flex-grow: 0;
    width: 60vw;
    height: 5.8vh;
    border-radius: 15px 0px 0px 15px;
  }
  .chat__button {
    flex-grow: 0;
    width: 20vw;
    height: 5.8vh;
    border-radius: 0px 15px 15px 0px;
  }
  .chat__emoji-picker {
    width: 100%;
  }
}
